div {
  .product-img__block {
    border-top: 8px dashed #2b2a29;
    border-bottom: 8px dashed #2b2a29;
    min-height: 718px;
    width: 100%;
    background-color: #6b9d52;
    display: flex;
  }
  h1 {
    color:  #2b2a29;
    text-align: center;
    font-family: Bahnschrift;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}
